.contenedor {
    width: 90%;
    background: linear-gradient(orange,yellow);
    margin: auto;
}

.cabecera {
    border: 2px solid black;
    background-color: yellow;
    padding: 10px;
}

.cuerpo {
    padding: 20px;
}